# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directory
/build/

# Ignore all .DS_Store files (macOS)
.DS_Store

# Ignore package-lock.json
package-lock.json

# Ignore package.json
package.json

# Ignore server.js
server.js
